@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #94db93;
    --secondary: #69c4a0;
    --white: #fffdff;
    --black: #000A12;
}

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--black);
}

h2{
    font-size: 6rem;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    padding-left: 3rem;
}

#bottom{
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#title{
    /* position: absolute; */
    margin-bottom: 30rem;
}

#box{
    background-color: var(--primary);
}

#seeMore{
    background-color: var(--primary);
}